
.dropdown{

    margin: 10px;
}



body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/tokyo2.jpg");

    /* Set a specific height */
    height: 50%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}



.skills-background{

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/brick.jpg");
    background-size: cover;
    height: 62%;
    
}

.skills-heading{
    text-align: center;
    /* position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%); */
    color: white;
}


.skills{
    color: white;
    text-align: center;

}


.portfolio-heading{
    text-align: center;
    /* position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%); */
    color:black
}

.image-block{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* .skill-image { */
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/brick.jpg"); */

    /* Set a specific height */
    /* height: 50%; */

    /* Position and center the image to scale nicely on all screens */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; */
/* } */

/* .content-section-heading {
    text-align: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
} */

/* .skills{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}  */
