
.dropdown{
    font-family: 'Kite One', sans-serif;
    margin: 10px;
}



body, html {
    height: 100%;
   
}

/* The hero image */
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/tokyoalley.jpg");

    /* Set a specific height */
    height: 50%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Buda', cursive;
}

#portfolio{
    font-family: 'Love Ya Like A Sister', cursive;
}


.skills-background{

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/unclesam.jpg");
    background-size: cover;
    height: 75%;
    
}

.skills-heading{
    text-align: center;
    
    color: white;
  
    font-family: 'Montserrat Subrayada', sans-serif;
   
}

/* .topbuttons{
    font-family: 'East Sea Dokdo', cursive;
    width: 50px;
        height: 25px;
} */

.skills{
    color: white;
    text-align: center;
    font-family: 'Caveat', cursive;

}


.portfolio-heading{
    text-align: center;
   
    color:black;
}

.introtitle{

    font-family: 'Shojumaru', cursive;
}



.introbody{
    font-family: 'IM Fell DW Pica', serif;

}



.projectfont{
    font-family: 'Knewave', cursive;
}


* {
    box-sizing: border-box;
}

body {
    /* background-color:white; */
    padding: 20px;
    font-family: Arial;
    background-image: url("img/wood.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* Center website */
.main2 {
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

.row {
    margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
    padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
}

/* Clear floats after rows */ 
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: white;
    padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}








.icon{
    border-radius: 50%;
}



.link-buttons{
    margin-left:40px;
}

.social-links{
    text-align: center;
}




.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
